@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;300&display=swap');

header {
    display: flex;
    width: 90%;
    overflow: hidden;
    justify-content: center;
    margin: auto 3.8rem auto;
}

h3{
    font-family: 'Geologica', sans-serif;
    color: blue;
}

.container__skills{
    display: grid;
    width: 75%;
    margin: 0 auto;
    border: 1px solid blue;
    border-radius: 2rem;
}

.skills__border{
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    gap: 1rem;
    /* border: 1px solid red; */
}

.skills{
    display: flex;
    overflow: hidden;
    margin: 2rem auto;
    padding: 1rem;
    width: 92%; /* This width changes the skills that show */
    border: 1px solid rgb(44, 44, 231);
    border-radius: 1.5rem;
    transition: all 400ms ease;
}

.skills:hover{
    background: rgb(0, 0, 0);
}

.front__skill{
    display: flex;
}

/* ADD HOVER BACKGROUND EFFECT */
.front__skill:hover{
    /* background:rgb(37, 37, 37);
     */
}

.circle{
    padding-right: 6px;
    padding-top: 2px;
    color: rgb(36, 36, 237);
}

.skill{
    font-family: 'Geologica', sans-serif;
}

.skill:hover{
    background: black;
}

.marquee{
    width: 105%;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(105%);
    }
    100% {
        transform: translateX(-105%);
    }
}

.marquee__right{
    width: 105%;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee__right 10s linear infinite;
}

@keyframes marquee__right{
    0% {
        transform: translateX(-105%);
    }
    100% {
        transform: translateX(105%);
    }
}

/* ======================  MEDIUM DEVICES ====================== */
@media screen and (max-width: 1024px){
    header{
        width: 85%;
    }

    .container__skills{
        width: 90%;
    }
}

/* ====================== SMALL DEVICES ======================== */
@media screen and (max-width: 728px){
    header{
        width: 90%;
    }

    /* =====================In mobile view all the skills are not showing (work on it) ======================= */
    .skills{
        position: relative;
        width: 90%;
    }
}