@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&family=Roboto+Condensed:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
}